.elementor-675 .elementor-element.elementor-element-62fbb72b{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-675 .elementor-element.elementor-element-6849aeab{--display:flex;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-675 .elementor-element.elementor-element-f9ec37c{--display:flex;--min-height:480px;border-style:solid;--border-style:solid;border-width:3px 3px 3px 3px;--border-top-width:3px;--border-right-width:3px;--border-bottom-width:3px;--border-left-width:3px;border-color:#136186;--border-color:#136186;--border-radius:20px 20px 20px 20px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-675 .elementor-element.elementor-element-f9ec37c:not(.elementor-motion-effects-element-type-background), .elementor-675 .elementor-element.elementor-element-f9ec37c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1361860F;}.elementor-widget-image-box .elementor-image-box-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-image-box .elementor-image-box-description{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-675 .elementor-element.elementor-element-25d64f63 .elementor-image-box-title{color:#136186;font-family:"Poppins", Sans-serif;font-size:36px;font-weight:700;text-transform:uppercase;}.elementor-675 .elementor-element.elementor-element-25d64f63 .elementor-image-box-description{color:#093F59;font-family:"Poppins", Sans-serif;font-size:20px;font-weight:400;}.elementor-675 .elementor-element.elementor-element-4a301792 .elementor-image-box-title{margin-bottom:5px;color:#136186;font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-675 .elementor-element.elementor-element-4a301792 .elementor-image-box-description{color:#136186;font-family:"Poppins", Sans-serif;font-size:17px;font-weight:400;}.elementor-675 .elementor-element.elementor-element-32f73455{--display:flex;--min-height:480px;--justify-content:center;border-style:solid;--border-style:solid;border-width:3px 3px 3px 3px;--border-top-width:3px;--border-right-width:3px;--border-bottom-width:3px;--border-left-width:3px;border-color:#136186;--border-color:#136186;--border-radius:20px 20px 20px 20px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-675 .elementor-element.elementor-element-32f73455:not(.elementor-motion-effects-element-type-background), .elementor-675 .elementor-element.elementor-element-32f73455 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1361860F;}.elementor-675 .elementor-element.elementor-element-9c68930 .elementor-image-box-title{margin-bottom:12px;color:#136186;font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-675 .elementor-element.elementor-element-9c68930 .elementor-image-box-description{color:#136186;font-family:"Poppins", Sans-serif;font-size:17px;font-weight:400;}.elementor-675 .elementor-element.elementor-element-60937b62{--display:flex;--min-height:480px;--justify-content:center;border-style:solid;--border-style:solid;border-width:3px 3px 3px 3px;--border-top-width:3px;--border-right-width:3px;--border-bottom-width:3px;--border-left-width:3px;border-color:#136186;--border-color:#136186;--border-radius:20px 20px 20px 20px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-675 .elementor-element.elementor-element-60937b62:not(.elementor-motion-effects-element-type-background), .elementor-675 .elementor-element.elementor-element-60937b62 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1361860F;}.elementor-675 .elementor-element.elementor-element-6ade1512 .elementor-image-box-title{margin-bottom:12px;color:#136186;font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-675 .elementor-element.elementor-element-6ade1512 .elementor-image-box-description{color:#136186;font-family:"Poppins", Sans-serif;font-size:17px;font-weight:400;}.elementor-675 .elementor-element.elementor-element-8930433{--display:flex;--min-height:480px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );border-style:solid;--border-style:solid;border-width:3px 3px 3px 3px;--border-top-width:3px;--border-right-width:3px;--border-bottom-width:3px;--border-left-width:3px;border-color:#136186;--border-color:#136186;--border-radius:20px 20px 20px 20px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-675 .elementor-element.elementor-element-8930433:not(.elementor-motion-effects-element-type-background), .elementor-675 .elementor-element.elementor-element-8930433 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1361860F;}.elementor-675 .elementor-element.elementor-element-197d200 .elementor-image-box-title{margin-bottom:12px;color:#136186;font-family:"Poppins", Sans-serif;font-weight:700;}.elementor-675 .elementor-element.elementor-element-197d200 .elementor-image-box-description{color:#136186;font-family:"Poppins", Sans-serif;font-size:22px;font-weight:400;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-675 .elementor-element.elementor-element-5508fa60 img{width:60%;border-radius:20px 20px 20px 20px;box-shadow:0px 0px 10px 2px rgba(0,0,0,0.5);}.elementor-675 .elementor-element.elementor-element-1d9b7a99{--display:flex;--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#F67600;--border-color:#F67600;--border-radius:15px 15px 15px 15px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-675 .elementor-element.elementor-element-1d9b7a99:not(.elementor-motion-effects-element-type-background), .elementor-675 .elementor-element.elementor-element-1d9b7a99 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F4EF;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-icon i{color:#FFC107;transition:color 0.3s;}.elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-icon svg{fill:#FFC107;transition:fill 0.3s;}.elementor-675 .elementor-element.elementor-element-154be6db{--e-icon-list-icon-size:20px;--icon-vertical-offset:0px;}.elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-icon{padding-right:10px;}.elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-item > .elementor-icon-list-text, .elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:700;}.elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-text{color:#111111;transition:color 0.3s;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-675 .elementor-element.elementor-element-8fd7e83 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;line-height:22px;color:#136186;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-675 .elementor-element.elementor-element-446c352f .elementor-button{background-color:#F67600;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;letter-spacing:1px;border-radius:20px 20px 20px 20px;padding:16px 0px 16px 0px;}.elementor-675 .elementor-element.elementor-element-446c352f{width:var( --container-widget-width, 40% );max-width:40%;--container-widget-width:40%;--container-widget-flex-grow:0;}body.elementor-page-675{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-675 .elementor-element.elementor-element-6849aeab{--width:65%;}}@media(max-width:1366px){.elementor-675 .elementor-element.elementor-element-f9ec37c{--padding-top:35px;--padding-bottom:35px;--padding-left:15px;--padding-right:15px;}.elementor-675 .elementor-element.elementor-element-25d64f63 .elementor-image-box-description{font-size:19px;}}@media(max-width:1024px){.elementor-675 .elementor-element.elementor-element-8930433{--padding-top:35px;--padding-bottom:35px;--padding-left:20px;--padding-right:20px;}.elementor-675 .elementor-element.elementor-element-197d200 .elementor-image-box-title{font-size:24px;}.elementor-675 .elementor-element.elementor-element-197d200 .elementor-image-box-description{font-size:18px;}.elementor-675 .elementor-element.elementor-element-446c352f{--container-widget-width:60%;--container-widget-flex-grow:0;width:var( --container-widget-width, 60% );max-width:60%;}}@media(max-width:767px){.elementor-675 .elementor-element.elementor-element-62fbb72b{--min-height:100vh;--justify-content:center;}.elementor-675 .elementor-element.elementor-element-f9ec37c{--padding-top:15px;--padding-bottom:15px;--padding-left:15px;--padding-right:15px;}.elementor-675 .elementor-element.elementor-element-25d64f63 .elementor-image-box-title{font-size:30px;}.elementor-675 .elementor-element.elementor-element-25d64f63 .elementor-image-box-description{font-size:18px;}.elementor-675 .elementor-element.elementor-element-4a301792{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 16px) 0px;}.elementor-675 .elementor-element.elementor-element-1f451022{margin:-20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-675 .elementor-element.elementor-element-32f73455{--padding-top:15px;--padding-bottom:15px;--padding-left:15px;--padding-right:15px;}.elementor-675 .elementor-element.elementor-element-9c68930{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 16px) 0px;}.elementor-675 .elementor-element.elementor-element-df87c56{margin:-20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-675 .elementor-element.elementor-element-60937b62{--padding-top:15px;--padding-bottom:15px;--padding-left:10px;--padding-right:10px;}.elementor-675 .elementor-element.elementor-element-6ade1512{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 16px) 0px;}.elementor-675 .elementor-element.elementor-element-6ade1512 .elementor-image-box-title{font-size:24px;}.elementor-675 .elementor-element.elementor-element-1f67b187{margin:-20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-675 .elementor-element.elementor-element-8930433{--padding-top:15px;--padding-bottom:15px;--padding-left:15px;--padding-right:15px;}.elementor-675 .elementor-element.elementor-element-197d200{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 5px) 0px;}.elementor-675 .elementor-element.elementor-element-197d200 .elementor-image-box-title{font-size:26px;}.elementor-675 .elementor-element.elementor-element-197d200 .elementor-image-box-description{font-size:17px;line-height:20px;}.elementor-675 .elementor-element.elementor-element-5508fa60 img{width:100%;border-radius:20px 20px 20px 20px;}.elementor-675 .elementor-element.elementor-element-1d9b7a99{--border-radius:15px 15px 15px 15px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:20px;--padding-bottom:20px;--padding-left:10px;--padding-right:10px;}.elementor-675 .elementor-element.elementor-element-154be6db{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + -5px) 0px;--e-icon-list-icon-size:20px;}.elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-item > .elementor-icon-list-text, .elementor-675 .elementor-element.elementor-element-154be6db .elementor-icon-list-item > a{font-size:18px;}.elementor-675 .elementor-element.elementor-element-8fd7e83{margin:-5px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;text-align:left;}.elementor-675 .elementor-element.elementor-element-8fd7e83 .elementor-heading-title{font-size:16px;line-height:24px;}.elementor-675 .elementor-element.elementor-element-446c352f{width:100%;max-width:100%;}.elementor-675 .elementor-element.elementor-element-446c352f .elementor-button{border-radius:20px 20px 20px 20px;}}/* Start custom CSS for html, class: .elementor-element-1f451022 *//* QUESTIONS */

.layout1, .layout2, .layout3, .layout4, .layout5, .layout6 {
    max-width: 420px;
    margin: 0px auto;
    display: block;
}

.askright, .askleft {
    width: 100%;
    display: block;
    margin: 5px;
}

.askrow {
    margin: 0;
    display: flex;
}

.option {
    color: #F67600 !important;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin: 0 0 10px 0;
    padding: 20px;
    text-decoration: none;
    border-radius: 8px;
    border: solid 1px #136186;
    transition: background 200ms ease-out;
    cursor: pointer;
}

.option:hover {
    background: #13618640;
    border: solid 1px #136186;
}

.layout1 .option {
    text-align: center;
    padding: 18px 20px 142px 20px;
    position: relative;
    margin: 5px;
    font-weight: 700;
}

.layout1 img {
    width: 130px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -65px;
    z-index: 7;
}

.layout2 .option {
    padding: 20px 17px 20px 73px;
    position: relative;
}

.layout2 img {
    width: 40px;
    position: absolute;
    left: 17px;
    top: 50%;
    margin-top: -20px;
}

.layout3 .option {
    padding: 20px 73px 20px 17px;
    position: relative;
}

.layout3 img {
    width: 40px;
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -20px;
}

.layout4 .option {
    padding: 14px;
}

.layout4 img {
    width: 100%;
    display: block;
    max-width: 250px;
}

.layout5 .option {
    text-align: center;
    margin: 5px;
    padding: 15px 14px;
}

.layout5 img {
    width: 250px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -125px;
    z-index: 0;
}

.layout6 .option {
    text-align: center;
    margin: 5px;
    padding: 20px 15px;
}

.layout6 img {
    width: 70px;
    display: block;
    margin: 0 auto 15px auto;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-446c352f */#bt_pulsar {
  animation: pulse 1.0s infinite;
}

#bt_pulsar:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}/* End custom CSS */
/* Start custom CSS *//*Remover espaço textos*/

p:last-child{
    margin: 0;
}

.elementor-heading-title{
    margin: 0;
}

/*Dedradê*/

.degrade{
    background: linear-gradient(to right, #F67600 0%, #F4B510 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}/* End custom CSS */